/* common styles */
body {
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  letter-spacing: var(--sl-letter-spacing-normal);
  background-color: var(--sl-color-neutral-0);
  color: var(--sl-color-neutral-1000);
  line-height: var(--sl-line-height-normal);
}
.content {
  padding: 15px 60px;
}
.content > h1 {
  margin: 0;
}

/* global elements */
.toggleSidebarButton {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 30;
}
.switchThemeButton {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 30;
}

/* themes */
.sl-theme-light a {
  color: inherit;
  text-decoration: none;
}
.sl-theme-light a:hover {
  color: var(--sl-color-primary-700);
  text-decoration: none;
}
.sl-theme-dark a {
  color: inherit;
  text-decoration: none;
}
.sl-theme-dark a:hover {
  color: var(--sl-color-primary-500);
}
